PORT=3001
NODE_ENV=development

DATABASE_URL=test

CLERK_PUBLISHABLE_KEY=test
CLERK_SECRET_KEY=test

SENTRY_DSN=test

STREAM_API_KEY=test
STREAM_API_SECRET=test

IMAGEKIT_PUBLIC_KEY=test
IMAGEKIT_PRIVATE_KEY=test
IMAGEKIT_URL_ENDPOINT=test
IMAGEKIT_ID=test
